page-quick-order-list {

}



b{
    color:#000 !important	;
    font-family: Georgia, 'Times New Roman', Times, serif;
    // font-size: 16px !important;
}
.sp{
    color:#708090 !important;
    margin-left: 1px !important;
    // font-size: 17px !important;	
}
.head{
    color: #1173A8 !important;
}
.item-medium{
    border-bottom:1px solid #000000 !important; 
    width: 120% !important;
    // padding-left: 16px;
    // padding-right: 0;
    position: relative;
    // text-transform: none;
    // box-shadow: none;
    // transition: background-color .3s cubic-bezier(.4,0,.2,1);
    // transition-property: background-color;
    // transition-duration: 0.3s;
    // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    // transition-delay: initial;
    font-family: sans-serif !important;
//    background:  #cfcfcf !important;
//    border-bottom: none !important;
    font-weight: 500 !important;
    border-radius: none !important;
    margin-left: -10px !important;
}

ion-item{
    border-radius: 0px !important;
    
}

.head{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 5px !important;
}

